.audiocontrols {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 1000;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.8);
}
