.audiocontrols {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #444;
  color: #e0e0e0;
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.6);
}

// .audiocontrols::-webkit-media-controls-panel {
//   background-color: #000;
//   color: #fff;
// }

// .audiocontrols::-webkit-media-controls-enclosure {
//   background-color: #000;
//   border-radius: 0;
// }
