.top-bar {
  padding: $padding;
  background-color: $color;
  display: flex;
  justify-content: center;
  position: -webkit-sticky; /* For Safari */
  position: sticky; /* Standard CSS */
  top: 0;
  z-index: 1000;

  &--color {
    background-color: $color;
  }

  .navChild {
    &__image {
      height: 3em;
      width: auto;
    }
  }

  .img_links_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: $padding;

    a {
      color: beige;
    }
  }

  input {
    width: 70em;

    @media screen and (max-width: 1000px) {
      width: 50em;
    }

    @media screen and (max-width: 481px) {
      width: 100%;
      margin: 0;
    }
  }

  &__link {
    font-weight: bold;

    @media screen and (max-width: 1079px) {
      font-size: 400px;
      margin-top: 15px;
    }

    &--active {
      border-bottom: 2px solid beige;
    }
  }
}
