.news-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  font-size: 0;
  padding: 0;

  &__section {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 16px;

    a {
      text-decoration: none;
      color: #000;
      display: flex;
    }
    img {
      width: 60%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 10px;
    flex-wrap: wrap;
  }
}
