.release-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  font-size: 0;
  padding: 0;

  &__card {
    // Remove width, margin, display: inline-block, etc.
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 16px;

    a {
      text-decoration: none;
      color: #000;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 10px;
  }
}

.startAudio {
  width: 60px;
  height: 60px;
  border: none;
  background: #333;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
